:root {
    --background: #09141f;
    --text-color: #5f8cb5;
    --form-background: #5f8cb5;
}

html,
body {
    margin: 0;
    color: var(--text-color);
    font-family: Consolas, "Courier New", Courier, monospace;
    background-color: var(--background);
    height: 100vh;
}
footer {
    margin-top: auto;
}
.cont {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.container {
    background-color: var(--background);
    width: 100%;
    flex-grow: 1;
    display: flex;
    padding-top: 1rem;
}
.hero {
    text-align: center;
    background-color: var(--background);
}
h1,
h3 {
    padding: 1rem 0;
    max-width: 70%;
    margin: 0 auto;
}
.color {
    display: flex;
    justify-content: center;
    align-items: start;
    cursor: pointer;
    transition: 0.3s opacity;
    border-radius: 10px;
    margin: 0 5px;
}
.color:active {
    opacity: 0.5;
}
.color span {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: white;
    text-shadow: 1px 1px black;
}
.color:hover {
    opacity: 0.8;
}

#form {
    /* center the form input */
    background-color: var(--background);
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}
#prompt {
    font-size: 1rem;
    outline: 0;
    border: 2px solid whitesmoke;
    padding: 20px;
    width: 400px;
    border-radius: 10px;
    background-color: var(--form-background);
    color: var(--background);
    font-weight: 600;
    font-size: larger;
    margin: 0 2rem;
}

#prompt::placeholder {
    color: #244c75;
}

#prompt:focus {
    background-color: var(--form-background);
}

.btn {
    background-color: var(--form-background);
    padding: 20px;
    font-size: 1rem;
    color: var(--background);
    border: 2px solid whitesmoke;
    transition: 0.2s opacity;
    border-radius: 10px;
    font-weight: bold;
}
.btn:hover {
    opacity: 0.8;
    background-color: var(--background);
    color: var(--text-color);
}

footer h4 {
    text-align: center;
}
